---
import { Image } from 'astro:assets';
interface Props {
  name: string;
  url: string;
}
//import { response } from '../variable/poke'
const { name,url } = Astro.props;

const response = await fetch(url).then((response) =>
  response.json()
);;

---


<div class="border-2 border-white w-52 p-5">
    <h1>{response.id}</h1>
    <h6>{name}</h6>
    <Image src={response.sprites.front_default} alt="A bird." width="300" height="300" />
</div>